body {
	padding: 25px 10px 0px 10px;
	background-color: #6441a5;
}
img {
	border-color: #ddd;
	border-width: 3px;
	border-style: solid;
}
input {
	padding: 0;
	margin: -50;
}
.navbar-brand {
	padding-top: 5px;
}
.navbar-nav {
	padding-top: 7px;
}
.navbar-header a {
	display: block;
	height: 150px;
}
.twitch {
	width: 120px;
	border: none;
}
.navbar, .container {
	max-width: 625px;
	margin: 0 auto;
	border-radius: 20px;
}
.result {
	max-width: 600px;
}
.row {
	background-color: #eee;
}
.nav-vcenter {
	padding-top: 10px;
	text-align: left;
}
.vcenter {
	display: inline-block;
  	float: none;
 	vertical-align: middle;
}
.row {
	border: 2px solid #111;
	border-radius: 7px;
	margin: 1%;
}	
.container-fluid {
	text-align: center;
}
.online-mark {
	width: 30px;
	border: none;
}
.logo {
	padding: 5px;
}
#text-field {
	float: left;
}	







.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-online {
    background:  #6441a5;
    color: #fff;
}
 
.btn-online:hover, .btn-offline:focus {
    background: #890B9F;
    color: #fff;
}
.btn-online.active {
	background: #890B9F;
	color: #fff;
}

.btn-offline {
    background:  #646464;
    color: #fff;
}
 
.btn-offline:hover, .btn-offline:focus {
    background: #890B9F;
    color: #fff;
}
.btn-online.offline {
	background: #890B9F;
	color: #fff;
}


