body {
	padding-top: 85px;
	background-color: #6441a5;
}
img {
	border-color: #ddd;
	border-width: 3px;
	border-style: solid;
}
input {
	padding: 0;
	margin: -50;
}
.navbar-brand {
	padding-top: 5px;
}
.navbar-nav {
	padding-top: 7px;
}
.navbar-header a {
	display: block;
	height: 150px;
}
.twitch {
	width: 120px;
	border: none;
}
.navbar {
	max-width: 625px;
	margin: 0 auto;
	border-radius: 20px;
}
.result {
	max-width: 600px;
}
.row {
	background-color: #eee;
}
.vcenter {
	text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.row {
	border: 2px solid #111;
	border-radius: 7px;
	margin: 1%;
}	
.container-fluid {
	text-align: center;
}
.online-mark {
	width: 30px;
	border: none;
}
.online {
}
.offline {

}
.logo {
	padding: 5px;
}
.btn-success {
	
}
.display_name {

}
#text-field {

}
#all {

}
		






/*
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-success {
    background: #890B9F;
    color: #ffffff;
}
 
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: #33a6cc;
}
 
.btn-success:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
*/



