@import url('https://fonts.googleapis.com/css?family=Righteous|VT323');
@import "color-functions.scss";

$shadow: 0 2px 6px 0 #434343, 0 6px 15px 0 #959393; 
$shadow-active: 0 0 8px 0 #434343, 0 0 12px 0 #959393;  

@mixin box-shadow ($string) {
  -webkit-box-shadow: $string;
  -moz-box-shadow:    $string;
  box-shadow:         $string;
}

body {
  background-color: #ede4e4;
}
#simon {
  position: relative;
  background: #434343;
  border-radius: 50%;
  color: white;
  font-family: 'Kavivanar', cursive;
  top: 100px;
  width: 500px;
  height: 500px; 
  margin: auto;
  
  .box {
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 10px;
    width: 480px;
    height: 480px;
    overflow: hidden;
  
    .green, .red, .yellow, .blue {
      cursor: default;
      position: absolute;
      width: 230px;
      height: 230px; 
    }
    
    .green {
      top: 0;
      left: 0;
      background-color: mix-neutral(green); 
    }
    .green.active {
        background-color: hsl(120, 100%, 40%);
      } 
    
    .red {
      top: 0;
      left: 250px;
      background-color: mix-neutral(red); 
    }
    .red.active {
        background-color: hsl(0, 100%, 50%);
    } 
    
    .yellow {
      top: 250px;
      left: 0;
      background-color: mix-neutral(yellow);  
    }
    .yellow.active {
        background-color: hsl(60, 100%, 50%);
      }
    
    .blue {
      top:  250px;
      left: 250px;
      background-color: mix-neutral(blue);
    }
    .blue.active {
        background-color: hsl(215, 100%, 50%);
      }
  }
  
  .center {
    background-color: whitesmoke;
    border: 20px solid #434343;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 120px;
    width: 220px;
    height: 220px;
    
    .simon-plate {
      position: absolute;
      top: 30px;
      text-align: center;
      margin: auto;
      width: 100%;
      h1 {
        font: bold 40px 'Righteous', cursive;
        letter-spacing: 1px;
        color: #352d2d; 
        text-shadow: 1px 1px 3px #b1c0c2;     
      }
    } 
    
    .controls {
      position: relative;
      top: 80px;
      width: 100%;
      height: 60px;
      
      .screen {
        color: #c62828;
        font: 50px 'VT323', monospace;;
        background-color: #291515;
        width: 52px;   
        height: 50px;
        position: absolute; 
        border-radius: 8px;
        text-align: center;
        border: 2px solid #999999;
        left: 25px;
        bottom: 3px;
        line-height: 50px; 
      }     
      
      button {
        @include box-shadow(( $shadow ));
        width: 40px;
        height: 40px;
        border-radius: 50%;  
        cursor: pointer;
        border: 2px solid #999999;
      }
      
      button:active {
        @include box-shadow(( $shadow-active ));
        transform: translateY(2px);
      }
      
      .start {
        background-color: harmonious-mix(cyan,red);
        position: absolute;
        top: 10px;
        left: 100px;
      }
      
      .strict {
        background-color: harmonious-mix(blue,yellow);
        position: absolute;
        top:  10px;
        left: 160px;
      }
      
      .led {
        background-color: #183b3b;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: -10px;
        left: 188px; 
        border: 2px solid #999999;    
      }
      
      .led.active {
        background-color: red;        
      }
      
    }
    .onoffswitch {
      position: absolute; 
      width: 70px;
      top: 170px;
      left: 75px;
      height: 20px;
      border-radius: 10px;
      
      .onoffswitch-checkbox {
        display: none;
      }

      .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 10px;
      }
      
      .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
      }
      
      .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
        font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
      }

      .onoffswitch-inner:before {
        content: "ON";
        padding-left: 5px;
        background-color: #2F2F89; 
        color: #FFFFFF;
      }

      .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 7px;
        background-color: #303030; 
        color: #FFFFFF;
        text-align: right;
      }

      .onoffswitch-switch {
        display: block; 
        width: 10px; 
        height: 10px; 
        margin: 5px 7px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 41px;
        border: 2px solid #999999; border-radius: 3px;
        transition: all 0.3s ease-in 0s; 
      }

      .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
      }

      .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
      }
    }
    
    .lettering {
      font: bold 11px Arial, Helvetica, sans-serif;
      color: #434343;
    }

    .count {
      position: absolute;
      top: 58px;
      left: 33px;
    }
    
    .start-strict {
      position: absolute;
      top: 60px;
      left: 100px;
      word-spacing: 20px;
    }
  }
}

/* Scaling for Mobile */
@media screen and (max-width: 500px){

  #simon {
    top: 40px;
    
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    
    left: 50%;
    margin-left: -142px;
  }
}