 @import url('https://fonts.googleapis.com/css?family=Farsan|Ramaraja');
body {
	padding: 15px 10px 0px 10px;
	background-color: #6441a5;
}
h3 {
	font-family: 'Ramaraja', serif;
}
p {
   font-family: 'Farsan', cursive;
   font-size: 15px;
}
a {
    color: #6441a5;
    text-decoration: none;
}
a:hover, a:focus {
    color: #428BCA;
    text-decoration: underline;
}
img {
	border-color: #ddd;
	border-width: 3px;
	border-style: solid;
}
input {
	margin: -50;
}
.navbar-brand {
	padding-top: 5px;
}
.navbar-nav {
	padding-top: 7px;
}
.navbar-header a {
	display: block;
	height: 150px;
}
.twitch {
	width: 120px;
	border: none;
}
.navbar, .container {
	max-width: 625px;
	margin: 0 auto;
	border-radius: 20px;
}
.result {
	max-width: 600px;
}
.row {
	background-color: #eee;
}
.nav-vcenter {
	padding-top: 10px;
	text-align: left;
}
.vcenter {
	display: inline-block;
  	float: none;
 	vertical-align: middle;
}
.row {
	border: 2px solid #111;
	border-radius: 7px;
	margin: 1%;
	text-align: center;
}
.online-mark {
	width: 30px;
	border: none;
}
.logo {
	padding: 5px;
}
#text-field {
	float: left;
}	
.btn-whatever:hover, .btn-whatever:focus {
    background: #890B9F;
    color: #fff;
}
.btn-whatever.active, .btn-whatever:active {
	background: #890B9F;
	color: #fff;
}
.btn-whatever {
    background: #6441a5;
    color: #fff;
}
.footer{
	width: 100%;
   left: 0; 
  	right: 0;
  	bottom: 10px;
  	width: 100%;
  	height: 15px;
  	color: #bbb;
  	padding-right: 5%;
}
.footer p{
	text-align: right;
	font-family: 'Farsan', cursive;
	text-indent: 0em;
	font-size: 12px;
}
.footer a {
 		color: #ccc;
 		text-decoration: none;	
}
.footer a:hover, .footer a:focus {
 		color: #428BCA;
 		text-decoration: underline;
}



